.character-list {
  width: 100%;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  .card {
    justify-self: center;
  }
}
