@import "../core/animations";
@import "../core/variables";
@import "../../styles/core/fonts";

.character-card {
  width: 200px;

  background-color: $primary-color;
  &:hover {
    animation-name: float;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  &__img {
    width: 100%;
    height: 100%;
    max-height: 250px;
    min-height: 250px;
    object-fit: fill;
    &--container {
      width: 100%;
      height: 70%;
    }
  }
  &__info {
    font-family: letter;
    padding: 10px;
    background-image: url(../../images/letter.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__text {
    text-decoration: none;
    color: black;
    font-size: 4rem;
  }
}
