@font-face {
  font-family: harry;
  src: url(../../fonts/harry.TTF);
}
@font-face {
  font-family: letter;
  src: url(../../fonts/letterFont.ttf);
}
@font-face {
  font-family: handWritting;
  src: url(../../fonts/principal.ttf);
}
