//Little reset
@import "./variables";
@import "./fonts";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}

//Global css
html {
  font-size: 10px;
  color: $text-color;
  font-family: handWritting;
}

.link {
  font-family: harry;
  font-size: 3rem;
  color: $text-color;
}

.hidden {
  display: none;
}
