$text-color: white;
$primary-color: #d3a625;
$secondary-color: grey;

//Gryffindor palette
$gryffindor-gold: #d3a625;
$gryffindor-yellow: #eeba30;
$gryffindor-red: #ae0001;
$gryffindor-dark-red: #740001;
$gryffindor-grey: #c0c0c0;

//Slytherin palette
$slytherin-dark-green: #1a472a;
$slytherin-green: #2a623d;
$slytherin-dark-grey: #5d5d5d;
$slytherin-light-grey: #aaaaaa;

//Hufflepuff palette
$hufflepuff-yellow: #ffdb00;
$hufflepuff-light-yellow: #ffed86;
$hufflepuff-pale-yellow: #fff4b1;
$hufflepuff-grey: #60605c;

//Ravenclaw palette
$ravenclow-dark-blue: #0e1a40;
$ravenclow-blue: #222f5b;
$ravenclow-gold: #946b2d;
$ravenclow-grey: $slytherin-dark-grey;
