@import "./core/global";
@import "./core/variables";
@import "./core/fonts";

//App styles
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(181, 181, 181, 0) 7%,
    rgba(119, 119, 119, 0) 27%,
    rgba(89, 89, 89, 0.10127801120448177) 45%,
    rgba(37, 37, 37, 0.31976540616246496) 64%,
    rgba(0, 0, 0, 1) 84%
  );

  h1 {
    font-family: "harry";
    font-size: 5rem;
    letter-spacing: 1px;
    text-shadow: 2px 2px 3px black;
  }
  &__logo {
    height: 150px;
    width: 100%;
    @media (min-width: 768px) {
      height: 200px;
      width: 500px;
    }
  }
}
.app {
  background-color: #08102e;
  background-image: url(../images/wallpaper.jpeg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
}
